@font-face {
  font-family: 'ISOCP2';
  src: url('../fonts/ISOCP2Regular.ttf');
}

body {
  margin-bottom:50px;
  margin-top: 50px;
}


/**
 * Nav Styles
 */

 .navbar {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  background-color: #232523;
  color: #fff;
  text-align: center;
  font-family: ISOCP2;
  font-weight: 800;
  font-size: 25px;

}

/**
 * Footer Styles
 */

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #232523;
  color: #fff;
  text-align: center;
  font-family: ISOCP2;
  font-weight: 800;
  font-size: 25px;
}
